@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  /* font-size: 12px;
  font-family: 글꼴; 
  color: 기본 글꼴 색상;
  line-height: 행간;
  letter-spacing: 자간;
  word-break: keep-all; */
}
